<div class="card" style="width: 18rem; height: 30rem">
  <div class="center">
    <img
      class="rounded-circle m-0"
      src="../../../../assets/dummy-image.png"
      alt="Card image cap"
    />
  </div>
  <h5 class="d-flex justify-content-center mb-5">
    {{ currUser.fname }} {{ currUser.lname }}
  </h5>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Profile</li>
    <li class="list-group-item">Address</li>
    <li class="list-group-item">Payment Details</li>
    <li class="list-group-item">Go To Home Page</li>
  </ul>
</div>
