:host {
  width: 30vw;
  margin: 30px;
}

img {
  width: 150px;
  height: 150px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 15px;
}

/* .crd-name {
  text-align: center;
} */

.h5 {
  text-align: center;
  margin-bottom: 30px;
}
