<div class="ctnr">
  <app-profile></app-profile>

  <div class="card p-4" style="height: 30rem">
    <h5 class="card-title m-0">Your info</h5>
    <hr />
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#"
          >View/Update Profile</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Add/Update Address</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Add/Update Payment Details</a>
      </li>
    </ul>
  </div>
</div>
