.card{
  border-width: 2px;
  border: black;
  width: 500px;
  padding: 40px;
  position: absolute;
  /* top: 50%; */
  left: 25%;
  /* transform: translate(-50%, 50%); */
}

a:hover {
  cursor:pointer;
 }
